body {
  background-color: #FFF8E7;
  display: grid;
  /* grid-template-columns: 1fr auto; */
  /* grid-template-rows: 0.4fr 2.2fr 0.2fr; */
  gap: 0px 0px;
  grid-template-areas:
    "nav main"
    "nav bottom";
  margin: 0;
}

.accent-color {
  color: #377fbe;
}

.alt-accent-color {
  color: red;
}

.checked {
  color: gold;
}

/* ANCHOR NAVIGATION */
nav {
  grid-area: nav;
  /* border: 2px solid black; */
  background-color: #377fbe;
  height: 100%;
  width: 200px;
  padding: 40px;
  position: relative;
}

nav .home-img {
  /* display: block; */
  width: 100%;
  cursor: pointer
}

#menu-links h3:hover {
  cursor: pointer;
  text-decoration: underline;
}

nav footer {
  bottom: 50px;
  position: absolute;
}

.nav-button {
  margin: 10px;
  padding: 5px;
}

/* ANCHOR MAIN CONTENT ELEMENT */

main {
  /* border: 2px solid green; */
  padding: 40px;
}

/* ANCHOR BOTTOM DIVIDER */

#bottom-div {
  text-align: center;
  grid-area: bottom;
  /* border: 2px solid red; */
}

.page-controls {
  display: inline-block;
}

/* ANCHOR MAIN CONTENT TOGGLED CLASSES */
.main-index {
  grid-area: main;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.main-add {
  /* grid-area: main; */
  /* display: flex; */
  /* flex-flow: row wrap; */
  /* justify-content: space-around; */
}

.main-show {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    "show comment";
}

/* ANCHOR MAIN-INDEX ELEMENTS */

.toilet-card {
  /* border: 2px solid orange; */
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 20%;
  margin: 10px;
  padding: 20px;
 
}

.toilet-card img {
  width: 100%;
  cursor: pointer;
}

/* ANCHOR MAIN-SHOW ELEMENTS */
#toilet-div {
  grid-area: show;
  /* border: 2px solid orange; */
}
.selected-toilet {
  background-color: white;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* border: 2px solid orange; */
}

.selected-toilet img {
  width: 100%;
}

#social-icons-div {
  display: grid;
  grid-template-columns: minmax(0, .3fr) minmax(0, .7fr);
  gap: 0px 0px;
  grid-template-areas:
    "like stars";
}

#likes-count-div {
  grid-area: like;
  /* border: 2px solid orange; */
}

#star-rating-div {
  grid-area: stars;
  text-align: right;
  /* border: 2px solid orange; */
}

.back-to-results {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}

#reviews-div {
  grid-area: comment;
  display: grid;
  grid-template-rows: minmax(0, 0.1fr), minmax(0, 0.9fr);
  /* grid-template-columns: minmax(0, 1fr); */
  gap: 0px 0px;
  grid-template-areas:
    "add"
    "reviews"
    ;
  /* border: 2px solid orange; */
}

.add-review-div {
  grid-area: add;
  /* height: 260px; */
  padding: 0 20px 20px 20px;
  margin: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* border: 2px solid black; */
}

.add-review-div textarea {
  width: 100%; 
  margin: 0px; 
  height: 113px;
  /* border: 2px solid black; */

}
.rendered-reviews {
  grid-area: reviews;
}

.rendered-reviews .review {
  background-color: white;
  padding: 1px 20px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}

.review .delete-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}



#new-toilet {
  background-color: white;
  padding: 30px;
  margin: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* border: px solid orange; */
}

#new-toilet .full {
  width: 60%
}

#new-toilet .semi-full {
  width: 50.9%
}