body {
  background-color: #FFF8E7;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  /* grid-template-rows: 0.4fr 2.2fr 0.2fr; */
  gap: 0px 0px;
  grid-template-areas:
    "nav main"
    "nav bottom";
  margin: 0;
}

/* ANCHOR NAVIGATION */
nav {
  grid-area: nav;
  border: 2px solid lightblue;
  background-color: lightblue;
  height: 100%;
  width: 200px;
  padding: 40px;
}

#menu-links p {
  cursor: pointer;
}

/* ANCHOR MAIN CONTENT ELEMENT */

main {
  border: 2px solid green;
  padding: 40px;
}

/* ANCHOR BOTTOM DIVIDER */

#bottom-div {
  text-align: center;
  grid-area: bottom;
  border: 2px solid red;
}

.page-controls {
  display: inline-block;
}

/* ANCHOR MAIN CONTENT TOGGLED CLASSES */
.main-index {
  grid-area: main;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.main-show {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    "show comment";
}

/* ANCHOR MAIN-INDEX ELEMENTS */

.toilet-card {
  border: 2px solid orange;
  background-color: orange;
  width: 20%;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.toilet-card img {
  width: 100%;
  cursor: pointer;
}

/* ANCHOR MAIN-SHOW ELEMENTS */
#toilet-div {
  grid-area: show;
  /* border: 2px solid orange; */
}
.selected-toilet {
  background-color: white;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* border: 2px solid orange; */
}

.selected-toilet img {
  width: 100%;
}

#social-icons-div {
  display: grid;
  grid-template-columns: minmax(0, .3fr) minmax(0, .7fr);
  gap: 0px 0px;
  grid-template-areas:
    "like stars";
}

#likes-count-div {
  grid-area: like;
  border: 2px solid orange;
}

#star-rating-div {
  grid-area: stars;
  text-align: right;
  border: 2px solid orange;
}

.back-to-results {
  background-color: white;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}

#reviews-div {
  grid-area: comment;
  display: grid;
  /* grid-template-columns: minmax(0, 1fr); */
  gap: 0px 0px;
  grid-template-areas:
    "add"
    "reviews"
    ;
  /* border: 2px solid orange; */
}

.add-review-div {
  grid-area: add;
  padding: 0 20px 20px 20px;
  margin: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rendered-reviews {
  grid-area: reviews;
}

.rendered-reviews .review {
  background-color: white;
  padding: 1px 20px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}

.review .delete-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.checked {
  color: gold;
}

#new-toilet {
  background-color: white;
  padding: 30px;
  margin: 30px 80px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* border: 2px solid orange; */
}

#new-toilet .full {
  width: 60%
}

#new-toilet .semi-full {
  width: 50.9%
}